.bgdark {
    background: linear-gradient(180.2deg, rgb(30, 33, 48) 6.8%, rgb(74, 98, 110) 131%);
}

.bgImg {
    background: url('https://i.gifer.com/embedded/download/gzH.gif');
    background-size: cover;
    background-position: center; /* Center the background image */
}
